<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>作用域事件的传播</title>
<script src="../js/angular.js" type="text/javascript"></script>
<style type="text/css">
body{
	font-size:12px;
}
ul{
	list-style-type:none;
	width:408px;
	margin:10px 0px;
	padding:0px;
}
ul li{
	float:left;
	padding:5px 0px;
}

ul .odd{
	color:#0026ff;
}
ul .even{
	color:#ff0000;
}

ul .bold{
	font-weight:bold;
}

ul li span{
	width:52px;
	float:left;
	padding:0px 10px;
}

ul .focus{
	background-color:#cccccc;
}

</style>
</head>
<body>
	<div ng-controller="c3_9_p">
		<div ng-cntroller="c3_9_s">
			<button ng-click="to_parent()">向父级传播</button>
			<button ng-click="to_child()">向子级传播</button>
			<div ng-controller="c3_9_c"></div>
		</div>
		<div ng-controller="c3_9_b"></div>
	</div>
	<script type="text/javascript">
		var app = angular.module('myApp',[]);
		app.controller("c3_9_s",function c3_9_s($scope){
			$scope.to_parent = function(){
				$scope.$emit("event_1"," d事件来源于子集 d");
			}
			$scope.to_child = function(){
				$scope.$broadcast("event_2","d事件来源于父级d");
			}
		});
		app.controller("c3_9_p",function c3_9_p($scope){
			$scope.$on("event_1",function(event,data){
				console.log(" 在父级中监听到d ",data);
			});
			$scope.$on("event_2",function(event,data){
				console.log(" 在父级中监听到d ",data);
			});
		});
		app.controller("c3_9_c",function c3_9_c($scope){
			$scope.$on("event_1",function(event,data){
				console.log(" 在子级中监听到d ",data);
			});
			$scope.$on("event_2",function(event,data){
				console.log(" 在子级中监听到d ",data);
			});
		});
		app.controller("c3_9_b",function c3_9_b($scope){
			$scope.$on("event_1",function(event,data){
				console.log(" 在同级中监听到d ",data);
			});
			$scope.$on("event_2",function(event,data){
				console.log(" 在同级中监听到d ",data);
			});
		});
	</script>
</body>
</html>